.column{
    flex: 1;
    width: 40%;
    text-align: left;
    min-width: 250px;
    padding-bottom: 40px;
}
.link-color{
    color: #3a689e;
}
.center-head-title{
    font-size: 24px;
    text-align: center;
}
.col-body{
    padding-left: 80px;
}